/* Navigation Bar*/

nav {
	position: fixed;
	background-color: #fff;
	width: 100%;
	display: block;
	clear: both;
}

nav ul {
	display: inline;
	list-style: none;
}

nav a {
	display: inline;
}
.mainav {
	display: inline;
	list-style: none;
}

.mainnav li {
	display: inline;
}

/* Navigation - Sign In/Register Inputs*/

.signin {

}

.signin input {

}

#signin {

}

.register {

}

/* Header & Logo */

.header {

}

.header h1 {

}

.header img {

}

/* Introduction */

.greeting {

}

.greeting p {

}

.greeting p span {

}

/* Footer */

footer {

}

footer ul {

}

footer li {

}

footer a {

}






